div {
  background-color: gainsboro;
  margin: 20px;
  border-width: 5px;
  height: 80px;
  padding: auto;
}
h2 {
  margin: auto;
  display: inline-block;
  text-align: center;
}

.shape-2 {
  visibility: hidden;
}

span {
  display: inline-block;
  background-color: hotpink;
  width: 10px;
  height: 60px;
  margin: auto;
}
.span-1 {
  display: inline-block;
  background-color: hotpink;
}
