div {
  background-color: wheat;
  width: 70%;
  margin: 20px;
  padding: 50px;
}
span {
  display: inline-block;
  padding: 15px;
  margin: 20px;
  width: 60px;
  height: 20px;
  background-color: wheat;
}
