p {
  font-size: 60px;
  text-align: center;
}
.one {
  font-style: italic;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.two {
  font-weight: 700;
  font-family: "Cairo", sans-serif;
  text-transform: capitalize;
}
.three {
  font-family: "Jomhuria", cursive;
  font-weight: 400;
  text-transform: capitalize;
}
